generalExam/bwp012013.dat
generalExam/bwp022013.dat
generalExam/bwp032013.dat
generalExam/bwp042013.dat
generalExam/bwp052013.dat
generalExam/bwp062013.dat
generalExam/bwp072013.dat
generalExam/bwp082013.dat
generalExam/bwp092013.dat
generalExam/bwp102013.dat
generalExam/bwp112013.dat
generalExam/bwp122013.dat
generalExam/bwp132013.dat
generalExam/bwp142013.dat
generalExam/bwp152013.dat
generalExam/bwp162013.dat
generalExam/bwp172013.dat
generalExam/bwp182013.dat
generalExam/bwp192013.dat
generalExam/bwp202013.dat
generalExam/bwp212013.dat
generalExam/bwp222013.dat
generalExam/bwp232013.dat
generalExam/bwp242013.dat
generalExam/bwp252013.dat
generalExam/bwp262013.dat
generalExam/bwp272013.dat
generalExam/bwp282013.dat
generalExam/bwp292013.dat
generalExam/bwp302013.dat
generalExam/bwp312013.dat
generalExam/bwp322013.dat
generalExam/bwp332013.dat
temp_plots/
plots/
